{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": [
    "react",
    "next",
    "type",
    "mock",
    "dto",
    "enum",
    "scripts",
    "objects",
    "repository",
    "controller",
    "components",
    "^[./*]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
