* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.missile {
  position: absolute;
  /* transform: translate(-50%, -50%); */
}

.explode {
  position: absolute;
  transform: translate(-50%, -50%);
}