.manager {
  width: 30%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  text-align: center;

  display: flex;
  flex-direction: column;
  row-gap: 2%;

  padding-right: 0 !important;

  overflow: auto;
  resize: horizontal;
}

.managerRow {
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.managerRow > div {
  width: 100%;
  text-align: center;
  margin: auto;
}

.formSection {
  padding: 3%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.missileData {
  border-radius: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.missileDataBadge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
